{{- define "main" }}

	<div class="text-center border-bottom mb-4">
		<h1 class="display-3">{{ .Title }}</h1>
	</div>

	<div class="content my-4">
		{{ .Content }}		
	</div>

	{{- $pages := .RegularPages }}
	{{- if .IsHome }}
		{{- $pages = where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
	{{- end }}

	{{ $paginator := .Paginate $pages }} 
	{{ range $paginator.Pages }}
		{{ if not .IsSection }}
			{{ with .Date }}
				<time class="text-muted">{{ . | time.Format ":date_long" }}</time>
			{{ end }}
		{{ end }}
		<h2>
			<a href="{{ .Permalink }}">
				{{ .Title }}
			</a>
		</h2>
	{{ end }}

{{- end }}